@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This little helper web application demonstrates, how to write multi-tenant applications that can work against the target Azure Active Directory of a target tenant with Graph API and ADAL. It is also capable of manually initating a OAuth consent flow which is needed for v1-based authentications using Microsoft Accounts instead of corporate accounts or if authorization grants have been expired.</p>
