@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Source:</strong>   <a href="http://github.com/mszcool">github.com/mszcool</a><br />
    <strong>Blog:</strong> <a href="http://blog.mszcool.com">blog.mszcool.com</a><br />
    <strong>Twitter:</strong> <a href="http://twitter.com/mszcool">twitter.com/mszcool</a><br />
</address>