<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ida:ClientId" value="yourclientidgoeshere" />
  <add key="ida:AppKey" value="yourappkeygoeshere" />
  <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
  <add key="ida:GraphAppUri" value="https://graph.windows.net" />
  <add key="ida:ManagementAppUri" value="https://management.azure.com/" />
  <add key="ida:ManagementApiVersion" value="2015-06-15" />
</appSettings>
